.game-quiz {
    position: absolute;
    top: 410px; /* Adjust the top position to be right under the GameScenario box */
    left: 20px; /* Adjust the left position as needed */
    width: calc(100% - 40px); /* Adjust the width as needed */
    text-align: left;
    font-family: 'Arial, sans-serif';
    color: #333;
  }
  
  .quiz-title {
    text-align: left;
    color: #333;
    margin-bottom: 10px;
    text-decoration: underline; /* Underline the title */
  }
  
  .quiz-box {
    position: relative;
    top: -20px; /* Move the box up */
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Thin white border */
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }